/* layout */
.layout {
  height: 100vh;
  overflow: scroll;
}
.siderLogoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 600;
  height: 64px;
  font-size: 18px;
  color: #fff;
}
.siderLogo {
  width: 22px;
}
.siderTitle {
  margin-left: 8px;
}
.sider {
  background: #001529;
}
.header {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 18px;
  justify-content: space-between;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.collapsedIcon {
  margin-right: 12px;
  font-size: 18px;
  color: #8d939e;
  transition: color 0.3s;
  cursor: pointer;
}
.collapsedIcon:hover {
  color: #1890ff;
}
.headerRightBox {
  display: flex;
  align-items: flex-end;
}
.headerAvatar {
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 8px;
  background: #1890ff;
  color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin-right: 4px;
}
.headerAvatarIcon {
  font-size: 12px;
  cursor: pointer;
}
.headerMenuItem {
  padding: 4px 12px;
}
.content {
  max-height: 100%;
  overflow: scroll;
  padding: 16px 16px 0 16px;
  border: 16px solid #f0f2f5;
  box-sizing: border-box;
  background: #fff;
}
.mobileContent {
  min-height: 100vh;
}
.footer {
  background: #fff;
}
