.content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 50vw;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
